* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

:root {
    ---color1: black;
    ---color2: white;
    ---color3: navy;
    ---color4: rgb(0, 0, 83);
}