.descripcion_del_producto{
    max-width: 130rem;
    max-height: 40rem;
    margin: auto;

    background-color: rgb(11, 216, 11);
    color: white;
    font-family: 'Raleway', sans-serif;
}

.Descript {
    display: flex;
}

.big-box {
    height: auto;
    display: flex;
    flex-direction: row;    
    padding: 1rem;
    margin: 7rem 2rem;


    background-color: rgb(6, 117, 6);
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    object-fit: contain;
}
.img > .imagen{
    height: 90%;
    width: 80%;

}

.middle{
    width: 60%;
    height: auto;
    padding: 1rem;
}

.titulo_principal{
    color: rgb(0, 0, 0);
    font-size: 4.5rem;
    font-weight: 900;
}

.descripcion {
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 0.7rem;
    padding-bottom: 1rem;
}

.lista {
    font-size: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;


    padding-top: 1rem;
}
.lista > p {
    color: rgb(98, 2, 2);
    font-weight: 900;

    font-family: 'REM', sans-serif;
    font-style: italic;
}

.lista2 {
    font-size: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.lista2 > p {
    color: rgb(98, 2, 2);
    font-weight: 900;

    font-family: 'REM', sans-serif;
    font-style: italic;
}

.botones {
    margin-top: 0;
}

.precio {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
  
.precio-valor {
    background-color: rgb(2, 2, 37);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.precio-valor:hover {
    background-color: #2980b9;
}
  
.comprar-btn {
    background-color: rgb(1, 63, 21);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
} 
.comprar-btn:hover {
    background-color: aqua;
    color: black;
}

.do_it {
    background-color: rgb(232, 161, 19);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.titulo_principal {
    font-size: 28px;
}

.descripciones {
    font-size: 18px;
}


  