.descripcion_del_producto{
    max-width: 130rem;
    padding: 5rem;
    margin: auto;

    background-color: rgb(11, 216, 11);
    color: white;
    font-family: 'Raleway', sans-serif;
}

.Descript {
    display: flex;
}

.big-box {
    height: auto;
    display: flex;
    flex-direction: row;    
    padding: 1rem;


    background-color: rgb(7, 154, 7);
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:  1rem;
    width: 40%;
    object-fit: contain;
    padding-right: 3rem;
    padding-left: 1rem;
}
.img > .imagen{
    height: 70%;
    width: 80%;

}

.middle{
    width: 60%;
    height: auto;
    padding: 1rem;
}

.titulo_principal{
    color: rgb(0, 0, 0);
    font-size: 4.5rem;
}

.descripciones{
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.lista{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.precios{
    font-size: 2.5rem;
    font-weight: 800;
}

.precio {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
  
.precio-valor {
    background-color: rgb(2, 2, 37);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.precio-valor:hover {
    background-color: #2980b9;
}
  
.comprar-btn {
    background-color: rgb(1, 63, 21);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
} 
.comprar-btn:hover {
    background-color: aqua;
    color: black;
}


.titulo_principal {
    font-size: 28px;
}

.descripciones {
    font-size: 18px;
}

.lista {
    font-size: 16px;
}

  