.descripcion_del_producto{
    max-width: 130rem;
    max-height: 37rem;
    margin: auto;

    /*background-color: rgb(11, 216, 11);*/
    background-color:rgb(109, 224, 91);
    color: white;
    font-weight: 800;
}

.Descript {
    display: flex;
}

.big-box {
    height: 25rem;
    display: flex;
    flex-direction: row;    
    padding: 1rem;
    margin: 7rem 2rem;

    background-color: var(---color-fondo2);
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.img > .imagen{
    height: 80%;
    width: 80%;
    border-radius: 0.8rem;
    
    object-fit: cover;
    
    border: 2px solid black;

}

.middle{
    width: 60%;
    height: auto;
    padding: 1rem;
    
    
}

.titulo_principal{
    color: rgb(0, 0, 0);
    font-size: 4.5rem;
    
    font-family: 'Raleway', sans-serif;
    font-style: oblique;
}

.descripcion {
    font-size: 1.2rem;
    font-weight: 800;
    padding-top: 0.7rem;

    font-family: 'Raleway', sans-serif;
}
 
.lista3 {
    font-size: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.8rem;

    
    font-family: 'Raleway', sans-serif;
}
.lista3 > h5 {
    color: white;
    font-weight: 1000;
    font-size: 1.5rem;
    width: 42%;
    height: 15%;
    text-align: center;
    padding-top: 0.5rem;

    border: 3px double white;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.lista3 > p {
    padding-top: 1rem;
}


.botones {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;

    font-family: 'Raleway', sans-serif;
}

.precio {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
  
.precio-valor {
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;

    background-color: rgb(146, 100, 8);
}
  
.comprar-btn {
    background-color: rgb(1, 63, 21);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
} 
.comprar-btn:hover {
    background-color:  rgb(15, 200, 74);
}

.do_it {
    background-color: var(---color5);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}
.do_it:hover{
    background-color: var(---color3);
    color: white;
}

.titulo_principal {
    font-size: 28px;
}

.descripciones {
    font-size: 18px;
}


  